In [116]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [117]:
dataset = pd.read_csv("./DATASET_COPIA.csv", sep=";", encoding="utf-8" )

In [118]:
display(dataset)

,Game,Developer,Publisher,Release date,Sales,Platform,Genre
0,Super Mario World,Nintendo EAD,Nintendo,1990,20610000,Nintendo Entertainment System (NES),NaN
1,Super Mario All-Stars,Nintendo EAD,Nintendo,1993,10550000,Nintendo Entertainment System (NES),NaN
2,Donkey Kong Country,Rare,Nintendo,1994,9300000,Nintendo Entertainment System (NES),NaN
3,Super Mario Kart,Nintendo EAD,Nintendo,1992,8760000,Nintendo Entertainment System (NES),NaN
4,Street Fighter II: The World Warrior,Capcom,Capcom,1992,6300000,Nintendo Entertainment System (NES),NaN
...,...,...,...,...,...,...,...
446,Shin Megami Tensei V,Atlus,Nintendo,2021,1000000,Nintendo Switch,Role-playing
447,Shin Megami Tensei V,Atlus,Sega,2021,1000000,Nintendo Switch,Role-playing
448,Shin Megami Tensei V,Atlus,Atlus,2021,1000000,Nintendo Switch,Role-playing
449,Story of Seasons: Pioneers of Olive Town,Marvelous,Xseed Games,2021,1000000,Nintendo Switch,"Simulation, role-playing"
450,Thief Simulator,Noble Muffins,Forever Entertainment,2019,1000000,Nintendo Switch,Stealth

In [119]:
agrupado = dataset.groupby('Publisher')['Sales'].sum().reset_index()

In [120]:
display(agrupado)

                                 Publisher       Sales
0                                505 Games     1000000
1                    Acclaim Entertainment     6850000
2                               Activision     7340000
3                                    Atlus     1000000
4                                   Bandai     3720000
5               Bandai Namco Entertainment     3990000
6                       Bandai Namco Games     2230000
7                                Banpresto     1700000
8                        Buena Vista Games     2500000
9                                   Capcom    57980000
10                        Devolver Digital     1000000
11              Disney Interactive Studios     3000000
12                         Electronic Arts     6380000
13                                    Enix    11360000
14                   Forever Entertainment     1000000
15                    Global Star Software     1500000
16             GungHo Online Entertainment     1500000
17                             Hudson Soft     2000000
18                               Imagineer     2000000
19                              Infogrames     1400000
20                              Innersloth     3200000
21                              Koei Tecmo     4000000
22                                  Konami     9980534
23                                 Level-5    15460000
24                               LucasArts    14440000
25                               MTV Games     1000000
26                   Majesco Entertainment     1000000
27                            Midway Games     3000000
28                                  Mojang     3140000
29                                   Namco     8030000
30                                Nintendo  1441125765
31                      Nintendo Australia     1300000
32                                    Rare     8560000
33                                    Sega    23771541
34                              Shogakukan     3000000
35                                  Square    17261000
36                             Square Enix    23852000
37                                     THQ    12086000
38                                   Taito     2820000
39                      The Pokémon Compan     1510000
40                     The Pokémon Company   249650000
41                                 Ubisoft    25420000
42           Universal Interactive Studios     1000000
43                      Virgin Interactive     1270000
44  Warner Bros. Interactive Entertainment     1000000
45                       Xbox Game Studios     3140000
46                                   Xflag     1000000
47                             Xseed Games     1000000

In [121]:
#dataset.iloc[116]

In [122]:
dtA = dataset[(dataset['Release date'] >= 1990) & (dataset['Release date'] < 2000)]
dtB = dataset[(dataset['Release date'] >= 2000) & (dataset['Release date'] < 2010)]
dtC = dataset[(dataset['Release date'] >= 2010) & (dataset['Release date'] < 2020)]
dtD = dataset[(dataset['Release date'] >= 2020)]

In [123]:
display(dtA)

,Game,Developer,Publisher,Release date,Sales,Platform,Genre
0,Super Mario World,Nintendo EAD,Nintendo,1990,20610000,Nintendo Entertainment System (NES),NaN
1,Super Mario All-Stars,Nintendo EAD,Nintendo,1993,10550000,Nintendo Entertainment System (NES),NaN
2,Donkey Kong Country,Rare,Nintendo,1994,9300000,Nintendo Entertainment System (NES),NaN
3,Super Mario Kart,Nintendo EAD,Nintendo,1992,8760000,Nintendo Entertainment System (NES),NaN
4,Street Fighter II: The World Warrior,Capcom,Capcom,1992,6300000,Nintendo Entertainment System (NES),NaN
...,...,...,...,...,...,...,...
89,WWF WrestleMania 2000,"AKI Corporation, Asmik Ace Entertainment",THQ,1999,1140000,Nintendo 64,NaN
90,Pilotwings 64,"Nintendo EAD, Nintendo R&D3, Paradigm Entertai...",Nintendo,1996,1120000,Nintendo 64,NaN
91,F-Zero X,Nintendo EAD,Nintendo,1998,1100000,Nintendo 64,NaN
92,Pocket Monsters' Stadium,"Nintendo EAD, HAL Laboratory",Nintendo,1998,1094765,Nintendo 64,NaN
94,Namco Museum 64,Mass Media Games,Namco,1999,1040000,Nintendo 64,NaN

In [124]:
agrupadoA = dtA.groupby('Publisher')['Sales'].sum().reset_index()
agrupadoB = dtB.groupby('Publisher')['Sales'].sum().reset_index()
agrupadoC = dtC.groupby('Publisher')['Sales'].sum().reset_index()
agrupadoD = dtD.groupby('Publisher')['Sales'].sum().reset_index()
agrupadoFinal = dataset.groupby('Publisher')['Sales'].sum().reset_index()

In [125]:
porcentagem_de_vendasA = pd.merge(agrupadoA, agrupadoFinal, on='Publisher', how='inner')
porcentagem_de_vendasA['divisao'] = porcentagem_de_vendasA['Sales_x'] / porcentagem_de_vendasA['Sales_y'] * 100

porcentagem_de_vendasB = pd.merge(agrupadoB, agrupadoFinal, on='Publisher', how='inner')
porcentagem_de_vendasB['divisao'] = porcentagem_de_vendasB['Sales_x'] / porcentagem_de_vendasB['Sales_y'] * 100

porcentagem_de_vendasC = pd.merge(agrupadoB, agrupadoFinal, on='Publisher', how='inner')
porcentagem_de_vendasC['divisao'] = porcentagem_de_vendasC['Sales_x'] / porcentagem_de_vendasC['Sales_y'] * 100

porcentagem_de_vendasD = pd.merge(agrupadoD, agrupadoFinal, on='Publisher', how='inner')
porcentagem_de_vendasD['divisao'] = porcentagem_de_vendasD['Sales_x'] / porcentagem_de_vendasD['Sales_y'] * 100

In [126]:
display(porcentagem_de_vendasA)
display(porcentagem_de_vendasB)
display(porcentagem_de_vendasC)
display(porcentagem_de_vendasD)

                Publisher    Sales_x     Sales_y     divisao
0   Acclaim Entertainment    6850000     6850000  100.000000
1                  Bandai    2600000     3720000   69.892473
2               Banpresto    1700000     1700000  100.000000
3                  Capcom   20120000    57980000   34.701621
4                    Enix    9900000    11360000   87.147887
5               LucasArts    3100000    14440000   21.468144
6                   Namco    1040000     8030000   12.951432
7                Nintendo  185824765  1441125765   12.894417
8                    Rare    6040000     8560000   70.560748
9                  Square   15640000    17261000   90.608887
10                    THQ    4320000    12086000   35.743836
11     Virgin Interactive    1270000     1270000  100.000000

                                 Publisher    Sales_x     Sales_y     divisao
0                               Activision    7340000     7340000  100.000000
1                                   Bandai    1120000     3720000   30.107527
2                       Bandai Namco Games    2230000     2230000  100.000000
3                        Buena Vista Games    2500000     2500000  100.000000
4                                   Capcom   10750000    57980000   18.540876
5               Disney Interactive Studios    1000000     3000000   33.333333
6                          Electronic Arts    6380000     6380000  100.000000
7                                     Enix    1460000    11360000   12.852113
8                     Global Star Software    1500000     1500000  100.000000
9                              Hudson Soft    2000000     2000000  100.000000
10                              Infogrames    1400000     1400000  100.000000
11                                  Konami    6480534     9980534   64.931736
12                                 Level-5   12140000    15460000   78.525226
13                               LucasArts   11340000    14440000   78.531856
14                               MTV Games    1000000     1000000  100.000000
15                            Midway Games    3000000     3000000  100.000000
16                                   Namco    6990000     8030000   87.048568
17                                Nintendo  700901000  1441125765   48.635658
18                      Nintendo Australia    1300000     1300000  100.000000
19                                    Rare    2520000     8560000   29.439252
20                                    Sega   20371541    23771541   85.697183
21                              Shogakukan    3000000     3000000  100.000000
22                                  Square    1621000    17261000    9.391113
23                             Square Enix   16552000    23852000   69.394600
24                                     THQ    7766000    12086000   64.256164
25                                   Taito    2820000     2820000  100.000000
26                     The Pokémon Company   95730000   249650000   38.345684
27                                 Ubisoft    6500000    25420000   25.570417
28           Universal Interactive Studios    1000000     1000000  100.000000
29  Warner Bros. Interactive Entertainment    1000000     1000000  100.000000

                                 Publisher    Sales_x     Sales_y     divisao
0                               Activision    7340000     7340000  100.000000
1                                   Bandai    1120000     3720000   30.107527
2                       Bandai Namco Games    2230000     2230000  100.000000
3                        Buena Vista Games    2500000     2500000  100.000000
4                                   Capcom   10750000    57980000   18.540876
5               Disney Interactive Studios    1000000     3000000   33.333333
6                          Electronic Arts    6380000     6380000  100.000000
7                                     Enix    1460000    11360000   12.852113
8                     Global Star Software    1500000     1500000  100.000000
9                              Hudson Soft    2000000     2000000  100.000000
10                              Infogrames    1400000     1400000  100.000000
11                                  Konami    6480534     9980534   64.931736
12                                 Level-5   12140000    15460000   78.525226
13                               LucasArts   11340000    14440000   78.531856
14                               MTV Games    1000000     1000000  100.000000
15                            Midway Games    3000000     3000000  100.000000
16                                   Namco    6990000     8030000   87.048568
17                                Nintendo  700901000  1441125765   48.635658
18                      Nintendo Australia    1300000     1300000  100.000000
19                                    Rare    2520000     8560000   29.439252
20                                    Sega   20371541    23771541   85.697183
21                              Shogakukan    3000000     3000000  100.000000
22                                  Square    1621000    17261000    9.391113
23                             Square Enix   16552000    23852000   69.394600
24                                     THQ    7766000    12086000   64.256164
25                                   Taito    2820000     2820000  100.000000
26                     The Pokémon Company   95730000   249650000   38.345684
27                                 Ubisoft    6500000    25420000   25.570417
28           Universal Interactive Studios    1000000     1000000  100.000000
29  Warner Bros. Interactive Entertainment    1000000     1000000  100.000000

             Publisher    Sales_x     Sales_y     divisao
0                Atlus    1000000     1000000  100.000000
1               Capcom    7700000    57980000   13.280442
2            Imagineer    1000000     2000000   50.000000
3           Innersloth    3200000     3200000  100.000000
4           Koei Tecmo    4000000     4000000  100.000000
5               Konami    3500000     9980534   35.068264
6             Nintendo  101140000  1441125765    7.018124
7                 Sega    1000000    23771541    4.206711
8  The Pokémon Company   30030000   249650000   12.028840
9          Xseed Games    1000000     1000000  100.000000